<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <div class="col-md-6 col-md-offset-3">
                <h2>Register</h2>
                <form name="form" role="form">
                    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" ng-model="userDetails.email" readonly />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error }">
                        <label for="firstName">First name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" ng-model="userDetails.first_name" required />
                        <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error }">
                        <label for="lastName">Last name</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" ng-model="userDetails.last_name" required />
                        <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label for="password">Password</label>
                        <input type="password" name="password" minlength="8" id="password" class="form-control" ng-model="userDetails.password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required }">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" compare-to="userDetails.password" ng-required="true" class="form-control" ng-model="confirmPassword" />
                        <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid" class="help-block">Passwords don't match</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.profilePicture.$dirty && form.profilePicture.$invalid }">
                        <label for="profilePicture">Profile Picture</label>
                        <input type="file" id="profilePicture" name="profilePicture" accept="image/*" file-model = "userDetails.profile_picture">
                        <span ng-show="form.profilePicture.$dirty && form.profilePicture.$invalid" class="help-block">Profile Picture is invalid</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.dateOfBirth.$dirty && form.dateOfBirth.$invalid }">
                        <label for="dateOfBirth">Date of Birth</label>
                        <md-datepicker id="dateOfBirth" name="dateOfBirth" ng-model="userDetails.date_of_birth"></md-datepicker>
                        <span ng-show="form.dateOfBirth.$dirty && form.dateOfBirth.$invalid" class="help-block">Date of Birth is invalid</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.phone.$dirty && form.phone.$invalid }">
                        <label for="phone">Phone</label>
                        <input type="tel" pattern="[0-9]{10}" class="form-control" id="phone" name="phone" ng-model="userDetails.phone"/>
                        <span ng-show="form.phone.$dirty && form.phone.$invalid" class="help-block">Phone number is invalid</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.address.$dirty && form.address.$invalid }">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="address" ng-model="userDetails.address"/>
                        <span ng-show="form.address.$dirty && form.address.$invalid" class="help-block">Address is invalid</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.gender.$dirty && form.gender.$invalid }">
                        <label for="gender">Gender</label>
                        <select ng-options="gender as gender.label for gender in genders track by gender.id" class="form-control" id="gender" name="gender" ng-model="selectedGender"></select>
                        <span ng-show="form.gender.$dirty && form.gender.$invalid" class="help-block">Gender is invalid</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" bi-click="signUp()" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
